<%- include ("_layouts/header") %>

<h1>Choose your favourite hot beverage</h1>

<div class="beverages">
    <div class="tea">
        <h2 class="bev">Tea</h2>
        <img src="images/tea.png" alt="" style="width:250px;height:250px;"/>
        <input class="choose" id="submit" type="submit" value="Select">
    </div>
    <div class="coffee">
        <h2 class="bev">Coffee</h2>
        <img src="images/coffee.png" alt="" style="width:250px;height:250px;"/>
        <input class="choose" id="submit" type="submit" value="Select">
    </div>
    <div class="chocolate">
        <h2 class="bev">Hot Chocolate</h2>
        <img src="images/chocolate.png" alt="" style="width:250px;height:250px;"/>
        <input class="choose" id="submit" type="submit" value="Select">
    </div>
</div>

<%- include ("_layouts/footer") %>